<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - VDA</title>
    <link rel="icon" type="image/png" href="/images/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/icon/favicon-96x96.png" sizes="96x96" />
</head>
<body>
    <header>
        <div class="TopHeader">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img src="images/logo.png" id="Logo" />
                    </div>
                    <div class="col-lg-8 col-md-12 FunctionNavigationFrame">
                        <ul id="FunctionNavigation">
                            <li><a href="#">Kontakt</a></li>
                            <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="HeaderNav">
            <div class="container">
                <div class="row">
                    <!--<div class="col-md-6 col-sm-2 col-1">&nbsp;</div>-->
                    <nav class="col-md-8 col-sm-10 col-12" id="MainNavigationFrame">
                        <ul class="MainNavigation">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="sensoren.html" class="active">Sensoren</a></li>
                            <li><a href="relay_control.html">Relais</a></li>
                            <li><a href="profil.html">Profil</a></li>
                            <li><a href="scheduledtask.html">Geplante Aufgaben</a></li>
                            <li><a href="eventlog.html">Eventlog</a></li>
                        </ul>
                    </nav>
                    <div class="MobileMenu">
                        <span class="hamburgerLine"></span>
                        <span class="hamburgerLine"></span>
                        <span class="hamburgerLine"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="sensor">
        <div class="container">
            <div class="row">
                <div class="col-12"><h2>{{ title }}</h2></div>
                <div class="col-md-6 col-12">
                    <h3>{{ message }}</h3>
                    <h2>Liste der Sensoren</h2>
                    {% if sensorlist %}
                    <form method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>SensorID</td>
                                <td>SensorName</td>
                                <td>&nbsp;</td>
                            </tr>
                            {% for sensor in sensorlist %}
                            <tr>
                                <td>{{sensor.SensorID}}</td>
                                <td>{{sensor.SensorCodeName}}</td>
                                <td><a href="/sensoredit?SensorID={{sensor.SensorID}}">Edit</a> | <a href="?SensorID={{sensor.SensorID}}">Löschen</a></td>
                            </tr>
                            {% endfor %}
                            <a href="/sensoredit">Neuer Sensor erfassen</a>
                        </table>
                    </form>
                    {% else %}
                    <p>Keine Sensoren gefunden</p>
                    {% endif %}
                </div>
                <div class="col-md-6 col-12">
                    <h2>Sensor dem aktiven Projekt hinzufügen</h2>
                    {{FormMessage}}
                    <form method="post">
                        {% csrf_token %}
                        {{ projectSensorForm }}
                        <input type="submit" value="Submit">
                    </form>

                    <h2>Liste der zugewiesenen Sensoren</h2>
                    {{RelationFormMessage}}
                    {% if projectSensorForm %}
                    <form method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>SensorID</td>
                                <td>SensorName</td>
                                <td>&nbsp;</td>
                            </tr>
                            {% for sensor in projectsensorlist %}
                            <tr>
                                <td>{{sensor.SensorID}}</td>
                                <td>{{sensor.SensorCodeName}}</td>
                                <td> <a href="?RelationID={{sensor.SensorID}}">Zuweisung Löschen</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </form>
                    {% else %}
                    <p>Keine Sensoren gefunden</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6">&copy; Copyright 2019</div>
                <!--<div class="col-6">Meta nav</div>-->
            </div>
        </div>
    </footer>

    <link href="css/lib/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="css/lib/chartist.min.css" rel="stylesheet" />
    <link href="css/lib/toastr.min.css" rel="stylesheet" />
    <link href="css/VDA_style.css" rel="stylesheet" />

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/libs/chartist.min.js"></script>
    <script src="js/base_functions.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>